@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Mulish";
}

.add-btn {
  background: linear-gradient(125.54deg, #613973 -0.39%, #bb46e4 100%);
}

.back-btn {
  width: 30px;
  height: 30px;
  background: #f2f2f2;
}
